@{
    ViewData["Title"] = "Home Page";

}

 <div class="content" data-simplebar>
			    <div class="section mt-0">
		            <h1 class="title title--h1 title__separate">Resume</h1>
				</div>
				
				<!-- Experience -->
				<div class="section">
					<h2 class="title title--h2"><img class="title-icon" src="/NewFolder2/assets/icons/icon-education.svg" alt="" /> Education</h2>
					<div class="timeline">
           @foreach (var education in Model.Educations)
            {
                <!-- Item -->
               
                    <h5 class="title title--h3 timeline__title"><i class="fa-regular fa-circle fa-beat" style="color: #0c78a3;"></i>
                        @education.EducationTitle
                    </h5>
                    <span class="timeline__period">
                        @education.EducationDuration
                    </span>
                    <p class="timeline__description">
                        @education.Description
                    </p>
           
            }
                                        
@*						<!-- Item -->
						<article class="timeline__item">
							<h5 class="title title--h3 timeline__title">New York Academy of Art</h5>
							<span class="timeline__period">2005 — 2007</span>
							<p class="timeline__description">Ratione voluptatem sequi nesciunt, facere quisquams facere menda ossimus, omnis voluptas assumenda est omnis..</p>
						</article>
                                        
						<!-- Item -->
						<article class="timeline__item">
							<h5 class="title title--h3 timeline__title">High School of Art and Design</h5>
							<span class="timeline__period">2003 — 2005</span>
							<p class="timeline__description">Duis aute irure dolor in reprehenderit in voluptate, quila voluptas  mag odit aut fugit, sed consequuntur magni dolores eos.</p>
						</article>*@
					</div>	
                </div>
				
				<div class="section">
					<h2 class="title title--h2"><img class="title-icon" src="/NewFolder2/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
					<div class="timeline">
            @foreach (var experience in Model.Experience)
            {
                <!-- Item -->
               
                    <h5 class="title title--h3 timeline__title"><i class="fa-regular fa-circle fa-beat" style="color: #f6972c;"></i>
                           @experience.ExperienceTitle
                    </h5>
                    <span class="timeline__period">
                        @experience.ExperienceDuration
                    </span>
                    <p class="timeline__description">
                        @experience.CompanySite
                    </p>
               
            }
					</div>
				</div>
						
				<!-- Skills -->
				<div class="section">
				    <h2 class="title title--h2">My Skills</h2>
				    <div class="box-gray">
           @foreach (var mySkill in Model.MySkills)
            {
                <!-- Progress -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@mySkill.Percentage" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-text">
                            <span>
                                @mySkill.SkillTille
                            </span>
                            <span>
                                @mySkill.Percentage%
                            </span>
                        </div>
                    </div>
                    <div class="progress-text"><span>@mySkill.SkillTille</span></div>
                </div>
            }
                    </div>
				</div>
			</div><!-- Content End -->